body {    
    max-width: 980px;
    margin: auto;
    border: 1px solid #dddddd;
    background-size: contain;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    background-image: url("../images/background 1.jpg");    
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 10px;
    
    min-height: 100vh; 
}
.game-heading,
.your-charecter,
.enemy-fighter,
.defender {    
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.allbox {
    border: 2px solid black;
    height: 100px;
    width: 140px;
}
.ycharbox  {
    background-color: yellow;
}
.enemybox {
    background-color: red;
}
.fighterbox{
    background-color: green;
}
img {
    height: 60px;
    width: 100px;
}
p {
    color: white;
    font-weight: 600;
    line-height: 24px;
}
.topheading {
    font-size: 34px;
    line-height: 54px;
}
.btn {
    border-radius: 25px;
    background-color: bisque;
    color: black;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
}
.btn:hover {
    background-color: white;
    font-weight: 600;
}