body {    
    max-width: 980px;
    margin: auto;
    border: 1px solid #dddddd;
    background-size: contain;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    background-color: aqua;
}
.your-charecter,
.enemy-fighter {    
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.ycharbox  {
    background-color: yellow;
    border: 2px solid black;
    height: 200px;
    width: 200px;
}
.enemybox {
    background-color: red;
    border: 2px solid black;
    height: 200px;
    width: 200px;
}
img {
    height: 160px;
    width: 180px;
}
/*
.your-charecter1,
.your-charecter2,
.your-charecter3,
.your-charecter4 {
    background-color: yellow;
    border: 2px solid black;  
    padding: 0;
    height: 100px;
    width: 100px;
    float: left;
}
.enemy-fighter1,
.enemy-fighter2,
.enemy-fighter3 {  
    border: 2px solid black;  
    padding: 0;
    height: 100px;
    width: 100px;
    float: left;
}
p {
    clear: both;
}
img {
    height: 100px;
    width: 100px;
}

*/